@page "/snippet/{snippetId?}"
@layout MainLayout

<style>
    .try-drawer {
        width: var(--mud-drawer-width-mini-left) !important;
        overflow: hidden;
    }
    .try-editor {
        margin-left: var(--mud-drawer-width-mini-left) !important;
    }
    .try-avatar {
        border-color: var(--try-drawer-text);
        color: var(--try-drawer-text);
    }
</style>

<div class="try-layout">
    <MudDrawer Open="true" Fixed="false" Elevation="1" Variant="@DrawerVariant.Persistent" Class="try-drawer mud-drawer-mini">
        <MudTooltip Text="Run your code">
            <MudIconButton title="Run (Ctrl + S)" OnClick="@CompileAsync" Disabled="@Loading" Icon="@Icons.Material.Rounded.PlayArrow" Color="@(LayoutService.IsDarkMode ? Color.Success : Color.Inherit)" />
        </MudTooltip>        
        <MudTooltip Text="Save or Share" Delay="800" Arrow="true" Placement="Placement.Right" Color="Color.Dark">
            <SaveSnippetPopup @bind-Visible="SaveSnippetPopupVisible" CodeFiles="@CodeFiles.Values" UpdateActiveCodeFileContentAction="UpdateActiveCodeFileContent" />
            <MudIconButton OnClick="ShowSaveSnippetPopup" Icon="@Icons.Material.Outlined.Save" Color="@(LayoutService.IsDarkMode ? Color.Info : Color.Inherit)" />
        </MudTooltip>
        <MudTooltip Text="@(LayoutService.IsDarkMode ? "Switch to Light Theme" : "Switch to Dark Theme")" Delay="800" Arrow="true" Placement="Placement.Right" Color="Color.Dark">
            <MudIconButton OnClick="@UpdateTheme" Icon="@(LayoutService.IsDarkMode ? @Icons.Material.Rounded.LightMode : @Icons.Material.Outlined.DarkMode)" Color="@(LayoutService.IsDarkMode ? Color.Warning : Color.Inherit)" />
        </MudTooltip>
        <MudSpacer />
        <MudStack Class="mb-12" AlignItems="AlignItems.Center" Justify="Justify.Center">
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">T</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">R</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">Y</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">M</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">U</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">D</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">B</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">L</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">A</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">Z</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">O</MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Size="Size.Small" Class="my-auto try-avatar">R</MudAvatar>
            <MudTooltip Text="Cleanup and Clear Compiler Cache" Delay="800" Arrow Placement="Placement.Right" Color="Color.Dark">
                <MudIconButton OnClick="@ClearCache" Icon="@Icons.Material.Filled.CleanHands" Color="@(LayoutService.IsDarkMode ? Color.Info : Color.Inherit)" />
            </MudTooltip>
        </MudStack>
    </MudDrawer>
    <div class="try-editor">
        <MudOverlay Visible="Loading" Absolute="true" DarkBackground="true">
            <MudText Typo="Typo.h4" Class="white-text"> @LoaderText</MudText>
        </MudOverlay>
        <div id="user-code-editor-container">
            <TabManager Tabs="@CodeFileNames" OnTabActivate="@HandleTabActivate" OnTabClose="@HandleTabClose" OnTabCreate="@HandleTabCreate" />
            <CodeEditor @ref="@CodeEditorComponent" Code="@CodeEditorContent" CodeFileType="@CodeFileType" />
            <ErrorList @bind-Show="@ShowDiagnostics" Diagnostics="@Diagnostics" />
        </div>
        <div id="user-page-window-container">
            <iframe id="user-page-window" src="/user-page" style="height: 98vh;"></iframe>
        </div>
    </div>
    <MudAppBar Bottom="true" Fixed="true" Color="@GetBottomAppBarColor()" Elevation="0" Class="try-errorlist repl-navbar">
        <div class="try-errorlist-button d-flex align-center" @onclick="@ToggleDiagnostics">
            <MudIcon Icon="@Icons.Material.Outlined.ErrorOutline" />
            <MudText>@ErrorsCount</MudText>
            <MudIcon Icon="@Icons.Material.Outlined.WarningAmber" />
            <MudText>@WarningsCount</MudText>
            @if (ErrorsCount != 0 || WarningsCount != 0)
            {
                <MudIcon Icon="@(ShowDiagnostics ? $"{Icons.Material.Outlined.ExpandMore}" : $"{Icons.Material.Outlined.ExpandLess}")" />
            }
        </div>
        <MudSpacer />
        <MudLink Typo="Typo.body2" Class="ml-10 version-info" Color="Color.Inherit" Href="https://dotnet.microsoft.com/download" Target="_blank">.net @Environment.Version.ToString()</MudLink>
        <MudLink Typo="Typo.body2" Class="ml-5 version-info" Color="Color.Inherit" Href="https://github.com/MudBlazor/MudBlazor/releases" Target="_blank">mudblazor @Version</MudLink>
    </MudAppBar>
</div>
@code {

    public Color GetBottomAppBarColor()
    {
        if (ErrorsCount != 0)
        {
            return Color.Error;
        }
        else if (WarningsCount != 0)
        {
            return Color.Warning;
        }
        else
        {
            return Color.Inherit;
        }
    }
}