@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

@if (Column != null)
{
    <td class="@Classname" style="@Stylename" colspan="@Column.FooterColSpan" @attributes="@UserAttributes">
        @if (Column.AggregateDefinition != null)
        {
            @(Column.AggregateTemplate is null 
                ? builder => builder.AddContent(0, Column.AggregateDefinition?.GetValue(Column.PropertyExpression, items))
                : Column.AggregateTemplate(items))
        }
        else if (Column.FooterTemplate != null)
        {
            @Column.FooterTemplate(Column.footerContext)
        }
    </td>
}
